<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>biubiu～(∠・ω< )⌒★ Hello~~</title>
    <link rel="stylesheet" href="../static/css/index_column.css">
    <link rel="stylesheet" href="../static/css/index_header.css">
    <link rel="stylesheet" href="../static/css/index_recommend.css">   
</head>

<body>
<div class="header">
    <div class="nav-img"></div>
        <div class="guide-wrapper">
            <ul class="nav clearfix">
                <li>
                    <a href="index.html">
                    <span>首页</span><div class="num"><span>home</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <span>动画</span><div class="num"><span>549</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <span>音乐</span><div class="num"><span>999+</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <span>舞蹈</span><div class="num"><span>157</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <span>科技</span><div class="num"><span>831</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <span>生活</span><div class="num"><span>999+</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <span>电影</span><div class="num"><span>999+</span></div>
                    </a>
                </li>
            </ul>
        </div>
</div>


<!--页面主体-->
<div class="main-page">
    <!--每日推荐-->
    <div class="recommend">
        <div class="rec-carousel">
            <img src="../static/images/img1.jpg">
        </div>
        <div class="rec-ct">
            <div class="rec-item">
                <a href="#" target="_blank">
                    <img src="../static/images/recommend/rec-1.webp" alt="">
                    <div class="info-card">
                        <p>【老番茄】高考完的那一晚，你在想些什么？</p>
                        <p class="info">
                            <span>UP主：老番茄</span>
                            <span>播放：43.9万</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="rec-item">
                <a href="#" target="_blank">
                    <img src="../static/images/recommend/rec-2.webp" alt="">
                    <div class="info-card">
                        <p>【Re:CREATORS 完整版OP（中日歌词）】【泽野弘之新曲】</p>
                        <p class="info">
                            <span>UP主：我丶好期待</span>
                            <span>播放：11.8万</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="rec-item">
                <a href="#" target="_blank">
                    <img src="../static/images/recommend/rec-1.webp" alt="">
                    <div class="info-card">
                        <p>【老番茄】高考完的那一晚，你在想些什么？</p>
                        <p class="info">
                            <span>UP主：老番茄</span>
                            <span>播放：43.9万</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="rec-item">
                <a href="#" target="_blank">
                    <img src="../static/images/recommend/rec-3.webp" alt="">
                    <div class="info-card">
                        <p>【综漫/暖】愿你被这世界温柔以待</p>
                        <p class="info">
                            <span>UP主：蒙奇「D」路飞</span>
                            <span>播放：10.3万</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="rec-item">
                <a href="#" target="_blank">
                    <img src="../static/images/recommend/rec-1.webp" alt="">
                    <div class="info-card">
                        <p>【老番茄】高考完的那一晚，你在想些什么？</p>
                        <p class="info">
                            <span>UP主：老番茄</span>
                            <span>播放：43.9万</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="rec-item">
                <a href="#" target="_blank">
                    <img src="../static/images/recommend/rec-4.webp" alt="">
                    <div class="info-card">
                        <p>【火影忍者】无论是谁，不过一袭剪影</p>
                        <p class="info">
                            <span>UP主：Lightの</span>
                            <span>播放：15.0万</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="rec-item">
                <a href="#" target="_blank">
                    <img src="../static/images/recommend/rec-5.webp" alt="">
                    <div class="info-card">
                        <p>【末日风格】于外星吟唱的miku</p>
                        <p class="info">
                            <span>UP主：彧弟</span>
                            <span>播放：1.2万</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="rec-item">
                <a href="#" target="_blank">
                    <img src="../static/images/recommend/rec-6.webp" alt="">
                    <div class="info-card">
                        <p>【该细还得细】FGO国服鬼哭醉梦魔京罗生门/茨木童子攻略</p>
                        <p class="info">
                            <span>UP主：削人棍专用BGM</span>
                            <span>播放：8.6万</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--分割线-->
    <div class="line_01"></div>
 
    <!--动画-->
    <div class="column">
        <div class="column-left">
            <div class="column-title" >もっと見る 10月は「作ってみた」動画応援月間です</div>
            <br/>
            <div class="column-ct">
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【一拳超人】【全程同步高燃混剪】琦玉老师打爆宇宙！</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-6.webp" alt="">
                        </div>
                        <p class="a-hover">【高考应援】新海诚cross road唯美短片祝君顺利！</p>
                    </a>
                </div>
                                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【一拳超人】【全程同步高燃混剪】琦玉老师打爆宇宙！</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-6.webp" alt="">
                        </div>
                        <p class="a-hover">【高考应援】新海诚cross road唯美短片祝君顺利！</p>
                    </a>
                </div>
                                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>

                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
     
            </div>
        </div>
    </div>
 

</body>
</html>