<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>biubiu～(∠・ω< )⌒★ Hello~~</title>
    <link rel="stylesheet" href="../static/css/index_column.css">
    <link rel="stylesheet" href="../static/css/index_header.css">
    <link rel="stylesheet" href="../static/css/index_recommend.css">
</head>

<body>
<div class="header">
    <div class="nav-img"></div>
        <div class="guide-wrapper">
            <ul class="nav clearfix">
                <li>
                    <a href="#">
                    <span>首页</span><div class="num"><span>home</span></div>
                    </a>
                </li>
                <li><a href="http://127.0.0.1:5000/animation" id="animation"></a></li>
                <li><a href="http://127.0.0.1:5000/music" id="music"></a></li>
                <li><a href="http://127.0.0.1:5000/dance" id="dance"></a></li>
                <li><a href="http://127.0.0.1:5000/technology" id="technology"></a></li>
                <li><a href="http://127.0.0.1:5000/life" id="life"></a></li>
                <li><a href="http://127.0.0.1:5000/movie" id="movie"></a></li>
            </ul>
        </div>
</div>


<!--页面主体-->
<div class="main-page">
    <!--每日推荐-->
    <div class="recommend">
        <div class="rec-carousel">
            <img src="../static/images/img1.jpg">
        </div>

        <div class="rec-ct">
            <div class="rec-item"><a target='_blank' id="anima_v1"></a></div>
            <div class="rec-item"><a target='_blank' id="music_v1"></a></div>
            <div class="rec-item"><a target='_blank' id="dance_v1"></a></div>
            <div class="rec-item"><a target='_blank' id="technology_v1"></a></div>
            <div class="rec-item"><a target='_blank' id="life_v1"></a></div>
            <div class="rec-item"><a target='_blank' id="anima_v2"></a></div>
            <div class="rec-item"><a target='_blank' id="music_v2"></a></div>
            <div class="rec-item"><a target='_blank' id="dance_v2"></a></div>
        </div>
    </div>

    <!--分割线-->
    <div class="line_01"></div>
 
    <!--动画-->
    <div class="column">
        <div class="column-left">
            <div class="column-title">动画专栏 / Animation column</div>
            柯南剧场版新万圣节海报,警察学校五人组变装亮相
            <a href="#" target="_blank" alt="">
                <div class="findmore">>查看更多( °◇ °)</div>
            </a>
            <div class="column-ct">

                
                <div class="item a-hover">
                    <a id="xx" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>


              

                <div class="item a-hover">
                    <a id="xx" href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【一拳超人】【全程同步高燃混剪】琦玉老师打爆宇宙！</p>
                    </a>
                </div>

                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-6.webp" alt="">
                        </div>
                        <p class="a-hover">【高考应援】新海诚cross road唯美短片祝君顺利！</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--分割线-->
    <div class="line_01"></div>

    <!--音乐-->
    <div class="column">
        <div class="column-left">
            <div class="column-title">音乐专栏</div>
            アナログからデジタルまで、すべての「作ってみた」を応援しています
            <a href="#" target="_blank" alt="">
                <div class="findmore">>查看更多( °◇ °)</div>
            </a>
            <div class="column-ct">
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【一拳超人】【全程同步高燃混剪】琦玉老师打爆宇宙！</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-6.webp" alt="">
                        </div>
                        <p class="a-hover">【高考应援】新海诚cross road唯美短片祝君顺利！</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--分割线-->
    <div class="line_01"></div>

    <!--舞蹈-->
    <div class="column">
        <div class="column-left">
            <div class="column-title">舞蹈专栏</div>
            アナログからデジタルまで、すべての「作ってみた」を応援しています
            <a href="#" target="_blank" alt="">
                <div class="findmore">>查看更多( °◇ °)</div>
            </a>
            <div class="column-ct">
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【一拳超人】【全程同步高燃混剪】琦玉老师打爆宇宙！</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-6.webp" alt="">
                        </div>
                        <p class="a-hover">【高考应援】新海诚cross road唯美短片祝君顺利！</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--分割线-->
    <div class="line_01"></div>

    <!--科技-->
    <div class="column">
        <div class="column-left">
            <div class="column-title">科技专栏</div>
            アナログからデジタルまで、すべての「作ってみた」を応援しています
            <a href="#" target="_blank" alt="">
                <div class="findmore">>查看更多( °◇ °)</div>
            </a>
            <div class="column-ct">
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【一拳超人】【全程同步高燃混剪】琦玉老师打爆宇宙！</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-6.webp" alt="">
                        </div>
                        <p class="a-hover">【高考应援】新海诚cross road唯美短片祝君顺利！</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--分割线-->
    <div class="line_01"></div>

    <!--生活-->
    <div class="column">
        <div class="column-left">
            <div class="column-title">生活专栏</div>
            アナログからデジタルまで、すべての「作ってみた」を応援しています
            <a href="#" target="_blank" alt="">
                <div class="findmore">>查看更多( °◇ °)</div>
            </a>
            <div class="column-ct">
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【一拳超人】【全程同步高燃混剪】琦玉老师打爆宇宙！</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-6.webp" alt="">
                        </div>
                        <p class="a-hover">【高考应援】新海诚cross road唯美短片祝君顺利！</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--分割线-->
    <div class="line_01"></div>

    <!--电影-->
    <div class="column">
        <div class="column-left">
            <div class="column-title">电影专栏</div>
            アナログからデジタルまで、すべての「作ってみた」を応援しています
            <a href="#" target="_blank" alt="">
                <div class="findmore">>查看更多( °◇ °)</div>
            </a>
            <div class="column-ct">
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【一拳超人】【全程同步高燃混剪】琦玉老师打爆宇宙！</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-3.webp" alt="">
                        </div>
                        <p class="a-hover">【著作权科普】谈夏达与夏天岛版权之争</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-4.webp" alt="">
                        </div>
                        <p class="a-hover">【泛式】英雄学院: 轰vs绿谷——「焦冻·原点」</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-5.webp" alt="">
                        </div>
                        <p class="a-hover">【怀旧排名】十年前天朝网络上最风靡的动画Top30</p>
                    </a>
                </div>
                <div class="item a-hover">
                    <a href="#" target="_blank">
                        <div class="pic">
                            <img src="./src/images/anime/anime-6.webp" alt="">
                        </div>
                        <p class="a-hover">【高考应援】新海诚cross road唯美短片祝君顺利！</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
    
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.params.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous">
    </script>

    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
    var socket = io();
    
    /*此处获取视频条数*/
    socket.on("get_video_nums", function(data, callback) { 
        document.getElementById("animation").innerHTML="<span>动画</span><div class='num'><span>"+
        data.num[0]+"</span></div>";
        document.getElementById("music").innerHTML="<span>音乐</span><div class='num'><span>"+
        data.num[1]+"</span></div>";
        document.getElementById("dance").innerHTML="<span>舞蹈</span><div class='num'><span>"+
        data.num[2]+"</span></div>";
        document.getElementById("technology").innerHTML="<span>科技</span><div class='num'><span>"+
        data.num[3]+"</span></div>";
        document.getElementById("life").innerHTML="<span>生活</span><div class='num'><span>"+
        data.num[4]+"</span></div>";
        document.getElementById("movie").innerHTML="<span>电影</span><div class='num'><span>"+
        data.num[5]+"</span></div>";
    });
    

    /*此处获取指定条数的动画信息*/
    socket.emit('get_animation',{need_video_nums: 6});
    socket.on("get_animation", function(data, callback) { 
    /*首先分两条给推荐栏*/
    document.getElementById("anima_v1").innerHTML="<img src="+data.videoInfos[0].videoGraph+"><div class='info-card'><p>"+data.videoInfos[0].videoName+"</p><p class='info'></p></div>"
    $(function(){
        name = data.videoInfos[0].videoUrl;
        $("#anima_v1").on("click",function(){
            url = "playvideo.html?name="+name;//此处拼接内容
            window.location.href = url;
        });
    });   

    document.getElementById("anima_v2").innerHTML="<img src="+data.videoInfos[1].videoGraph+"><div class='info-card'><p>"+data.videoInfos[1].videoName+"</p><p class='info'></p></div>"
    $(function(){
        name = data.videoInfos[1].videoUrl;
        $("#anima_v2").on("click",function(){
            url = "playvideo.html?name="+name;//此处拼接内容
            window.location.href = url;
        });
    }); 
  
    /*将此6条放入动画栏*/
    for(var i=1;i<=6;i++){
        document.getElementById("anima_v2").innerHTML="<img src="+data.videoInfos[1].videoGraph+"><div class='info-card'><p>"+data.videoInfos[1].videoName+"</p><p class='info'></p></div>"
        $(function(){
            name = data.videoInfos[1].videoUrl;
            $("#anima_v2").on("click",function(){
                url = "playvideo.html?name="+name;//此处拼接内容
                window.location.href = url;
            });
        }); 
    }

    });



    }
    </script>
</html>


                <div class="item a-hover">
                    <a id="xx" target="_blank">
                        <div class="pic">
                            <img src="../static/images/anime/anime-2.webp" alt="">
                        </div>
                        <p class="a-hover">【综漫 ASMV】 弱者（完整版）/The Weak (Full ver.)</p>
                    </a>
                </div>






        document.getElementsByClassName('top').innerHTML;
        var re = "";
        var tu = 1;
        for (var i = 0; i < 4; i++) {
            tu++;
            re += '<div class="top">' +
                '<img class="tu1" src="../pic/'+tu+'.jpg">' +
                '</div>';
        }
        document.writeln(re);


                            