<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>biubiu～(∠・ω< )⌒★ Hello~~</title>
		<link rel="stylesheet" href="../static/css/loginstyle.css">


	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="top">
					<div class="logo">
						<img src="../static/images/logo.png" alt="biubiu" style="width: 500px;margin-left: 34px;">
					</div>

					<form class="form" method="post" action="http://127.0.0.1:5000/login" name="form_login">
						<div class="input_field">
							<input type="text" placeholder="用户名" class="input" name="username">
						</div>
						<div class="input_field">
							<input type="password" placeholder="密码" class="input" name="password">
						</div>
						<div class="btn">
							<input type="submit" value="登录">
						</div>
					</form>
					<div class="or">
						<div class="line"></div>
						<p>OR</p>
						<div class="line"></div>
					</div>
					<div class="dif">
						<div class="other">
							<p>没有账户? <a href="http://127.0.0.1:5000/register">注册</a></p>
						</div>
					</div>
				</div>
				<div class="welcome">
					<p>biubiu～(∠・ω< )⌒★ Hello~~ </p>
				</div>
			</div>
		</div>

	</body>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/socket.io.js"></script>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var socket = io();
		socket.emit("get_previous_login");
		socket.on("login_response", function(data, callback) {
			if(data.error_code==1)
				alert("无此用户信息");
			else if(data.error_code==2)
				alert("输入密码错误");
			else if(data.error_code==3)
				alert("请输入用户名和密码!");
			else if(data.error_code==4)
				alert("注册成功!")
		});
	})
	</script>
</html>