<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>biubiu～(∠・ω< )⌒★ Hello~~</title>
	<link rel="stylesheet" href="../assets/styles.css">
</head>
<body>

<div class="wrapper">
	<div class="header">
		<div class="top">
			<div class="logo">
				<img src="../assets/biubiu.jpg" alt="biubiu" style="width: 200px;">
			</div>

			<form class="form" method="post" action="url">
				<div class="input_field">
					<input type="text" placeholder="用户名" class="input" name="varName">
				</div>
				<div class="input_field">
					<input type="password" placeholder="密码" class="input" name="varName">
				</div>
				<div class="btn" type="submit"><a href="#">登录</a></div>
			</form>

			<div class="or">
				<div class="line"></div>
				<p>OR</p>
				<div class="line"></div>
			</div>
			<div class="dif">
				<div class="forgot">
					<a href="#">忘记密码?</a>
				</div>
			</div>
		</div>
		<div class="signup">
			<p>如果没有账户? <a href="Register.html">注册</a></p>
		</div>
	</div>
</div>

</body>
</html>