<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>biubiu～(∠・ω< )⌒★ Hello~~</title>
	<link rel="stylesheet" href="../static/css/loginstyle.css">
</head>
<body>
<div class="wrapper">
	<div class="header">
		<div class="top">
			<div class="logo">
				<img src="../static/images/biubiu.jpg" alt="biubiu" style="width: 200px;">
			</div>

			<form class="form" method="post" action="http://127.0.0.1:5000/register" name="form_register">
				<div class="input_field">
					<input type="text" placeholder="用户名：4-20位字母、数字、下划线" class="input" name="username">
				</div>
				<div class="input_field">
					<input type="password" placeholder="密码：不少于6位" class="input" name="password">
				</div>
				<div class="btn">
					<input type="submit" value="注册">
				</div>
			</form>

			<div class="or">
				<div class="line"></div>
				<p>OR</p>
				<div class="line"></div>
			</div>
			<div class="dif">
				<div class="forgot">
					<a href="#">忘记密码?</a>
				</div>
			</div>
		</div>
		<div class="signup">
			<p>已经有一个账户? <a href="http://127.0.0.1:5000/login">登录</a></p>
		</div>
	</div>
</div>
</body>
</html>
